# This is a sample file containing the environment variables used by the project.
# You should copy this file to `.env.development` so that Next.js automatically injects then into it's server.

# Node.js environment. If running locally, it should be 'development'.
ENVIRONMENT='development'
NODE_ENV='development'

# API hostname.
NEXT_PUBLIC_API_HOST=''

# API client HMAC key.
NEXT_PUBLIC_API_KEY=''

# Next.js API Routes hostname and endpoint.
NEXT_PUBLIC_BFF_URL=''

# JSONs hostname.
NEXT_PUBLIC_JSONS_HOST=''

# user credentials cookie.
NEXT_PUBLIC_CREDENTIALS_COOKIE_NAME='user-credentials'
